*
!.gitignore
!package.json
!pnpm-lock.yaml
!app.config.ts
!tsconfig.json
!netlify.toml
!README.md
!CHANGELOG.adoc
!AGENTS.md
!public/
!public/**
!src/
!src/**
!content/
!content/**
!scripts/
!scripts/**
!.github/
!.github/**
!.github/workflows/
!.github/workflows/**
!changelog-details/
!changelog-details/**

.netlify
